{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} availfiles{% endblock %}

{% block title %}
    {% trans "Files" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Files" %}</li>
        </ol>
    </nav>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'dashboard:availfiles-create' %}" class="btn btn-primary float-right">
            <i class="fas fa-plus-circle"></i> {% trans "Upload a file" %}
        </a>
        <h1>{% trans "Files" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <div class="table-header">
        <h3><i class="fas fa-search"></i> {% trans "Search" %}</h3>
    </div>
    <div class="card card-body">
        <form id="search_availfile_form" method="get" class="form-inline">
            {% include "oscar/dashboard/partials/form_fields_inline.html" with form=form %}
            <button type="submit" class="btn btn-primary mr-2" data-loading-text="{% trans 'Searching...' %}">
                {% trans "Search" %}
            </button>
            <a href="{% url 'dashboard:availfiles-list' %}" class="btn btn-secondary">{% trans "Reset" %}</a>
        </form>
    </div>

    <div class="table-header">
        <h2><i class="fas fa-file"></i> {{ queryset_description }}</h2>
    </div>

    {% if availfile_list %}
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Uploaded" %}</th>
                    <th>{% trans "URL" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for availfile in availfile_list %}
                    <tr>
                        <td>{{ availfile.display_name }}</td>
                        <td>{{ availfile.uploaded_at }}</td>
                        <td><a href="{{ availfile.file.url }}" target="_blank">{{ availfile.file.url }}</a></td>
                        <td>
                            <a class="btn btn-secondary" href="{% url 'dashboard:availfiles-delete' pk=availfile.id %}">
                                {% trans "Delete" %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "oscar/dashboard/partials/pagination.html" %}
    {% else %}
        <table class="table table-striped table-bordered table-hover">
            <tr><td>{% trans "No files found." %}</td></tr>
        </table>
    {% endif %}
{% endblock dashboard_content %}
